.container{
  display: flex;
	flex-direction: column;
	width: 80%;
	margin: auto;
}
table,tr,th,td{
  border: 1px solid;
}

dt{
  font-weight: bold;
	font-size: 110%;
}

.article_header{
  background:	lightgreen;
	color: black;
}
article{
  background: green;
	color: lightgrey;
}
